<div id="box-container">
  <div class="lang-option">
    <h3>{{"language"|translate}}</h3>
    <select [(ngModel)]="lang" (change)="onChange($event)">
      <option  *ngFor="let langauge of langs"  value="{{langauge}}">{{langauge}}</option>
  </select>
  </div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div ngModelGroup="userData">
      <div class="title">
        <h1>{{"header"|translate}}</h1>
      </div>
      <div class="form-elements">
        <p>{{"details"|translate}}</p>
        <div class="row">
          <p class="success">{{pageSuccess}}</p>
          <p class="error">{{pageError}}</p>

          <label *ngIf="pnrId.valid||!pnrId.dirty">
        {{"pnr"|translate}}
      </label>
          <label class="error" *ngIf="!pnrId.valid&&pnrId.dirty">
       {{"pnrError"|translate}}
      </label>
          <input id="pnrId" name="pnrId" #pnrId="ngModel" class="input" [(ngModel)]="checkinDetailsModels.pnr" type="text" pattern="^[a-zA-Z0-9]*$"
         placeholder='{{"pnrLabel"|translate}}' maxlength="10" required >
        </div>
        <div class="row">

          <label *ngIf="firstname.valid||!firstname.dirty">
        {{"firstnameLabel"|translate}}
      </label>
          <label class="error" *ngIf="!firstname.valid&&firstname.dirty">
      {{"firstnameError"|translate}}
      </label>

          <input class="input" id="firstname" name="firstname" #firstname="ngModel" [(ngModel)]="checkinDetailsModels.firstname" type="text"
            pattern="^(\S+)$" required placeholder='{{"firstname"|translate}}'>
        </div>
        <div class="row">
          <label *ngIf="lastname.valid||!lastname.dirty">
      {{"lastnameLabel"|translate}}
      </label>
          <label class="error" *ngIf="(!lastname.valid&&lastname.dirty)||lastname.empty">
      {{"lastnameError"|translate}}
      </label>
          <label></label>
          <input class="input" id="lastname" name="lastname" #lastname="ngModel" [(ngModel)]="checkinDetailsModels.lastname" type="text"
            pattern="^(\S+)$" required placeholder='{{"lastname"|translate}}'>
        </div>

        <button type="submit" [disabled]="!f.valid">{{"submit"|translate}}</button>
      </div>
    </div>
  </form>
</div>
